.header{
    background: #000;
    color: aliceblue;
    height: 50px;
}
.menu-items{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.img{
    display: flex;
      justify-content: space-between;

}
.img img{
    width: 40%;
}
.img p{
    width: 40%;
}
.wrapper {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    margin-right: 30px
}